{% extends "layout.html" %}
{% block body %}
    <form action="{{url_for("firmware.install", id=firmware.id)}}" method="post" class="firmwareInstall">
        <fieldset>
            <legend>Install firmware {{firmware.version}}</legend>
            <ul>
                <li>
                    <label for="upgradeTime">Installation time:</label>
                    <input type="text" name="upgradeTime" id="upgradeTime" size="30" />
                </li>
                <li>
                    Nodes:
                    <ul class="nodeList">
                        {% for node in availableNodes %}
                            <li>
                                <input type="checkbox" name="nodeIds" id="node_{{node.id}}" value="{{ node.id }}" />
                                <label for="node_{{node.id}}">{{node.id}}</label>
                            </li>
                        {% else %}
                            <li>No nodes available.</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="submit" value="Install" />
        </fieldset>
    </form>
{% endblock %}
