% extends "layout.html" %}
{% block body %}
    <h2>Firmwares</h2>
    <div class="well">
      <form class="form-horizontal" action="{{ url_for(".add") }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Add Firmware</legend>
        <div class="form-group">
          <label for="version" class="col-sm-2 control-label">Version:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control input-sm" name="version" id="version" size="30" />
          </div>
        </div>
        <div class="form-group">
          <label for="firmware" class="col-sm-2 control-label">Firmware:</label>
          <div class="col-sm-10">
              <input type="file" class="uneditable-input form-control" name="firmware" id="firmware" />
          </div>
        </div>
        <div class="form-group">
          <label for="hash" class="col-sm-2 control-label">md5sum Hash:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control input-sm" name="hash" id="hash" size="30" />
          </div>
        </div>
          <input type="submit" class="btn btn-primary" value="Add" />
        </fieldset>
      </form>
    </div>
    <h3>Installed Firmwares</h3>
    <ul class="list-group">
    {% for firmware in installedFirmwares %}
        <li class="list-group-item">
            <a href="{{url_for(".show", id=firmware.id)}}">{{firmware.version}}</a> 
            <span>{{firmware.nodes.count()}} nodes</span>
        </li>
    {% else %}
        <li class="list-group-item"><em>No installed firmwares found</em></li>
    {% endfor %}
    </ul>

    <h3>Other Firmwares</h3>
    <ul class="list-group">
    {% for firmware in otherFirmwares %}
        <li class="list-group-item">
            <a href="{{ url_for(".show", id=firmware.id) }}">{{firmware.version}}</a>
        </li>
    {% else %}
        <li class="list-group-item"><em>No other firmwares found</em></li>
    {% endfor %}
    </ul>
{% endblock %}
