{% extends "layout.html" %}
{% block body %}
    <h2>Firmware '{{firmware.version}}'</h2>
    <div class="well">
        <a class="btn btn-success" href="{{url_for(".install", id=firmware.id)}}">Install</a>
        <a class="btn btn-danger" href="{{url_for(".delete", id=firmware.id)}}">Delete</a>
    {% if not firmExists %}
    <form class="form-horizontal" action="{{ url_for(".readd", id=firmware.id) }}" method="post" enctype="multipart/form-data">
	    <fieldset>
            <legend>Firmware Missing! Add File</legend>
	     <div class="form-group">
	            <label for="firmware" class="col-sm-2 control-label">Firmware:</label>
	         <div class="col-sm-10">
	              <input type="file" class="uneditable-input form-control" name="firmware" id="firmware" />
	         </div>
	     </div>
	     <div class="form-group">
	           <label for="hash" class="col-sm-2 control-label">md5sum Hash:</label>
	           <div class="col-sm-10">
	              <input type="text" class="form-control input-sm" name="hash" id="hash" size="30" />
	          </div>
	     </div>
	     <input type="submit" class="btn btn-primary" value="Add" />
	   </fieldset>
	</form>
    {% endif %}
    </div>
    <ul>
        <li>
            <strong>Id:</strong> 
            {{firmware.id}}
        </li>
        <li>
            <strong>Hash:</strong>
            {{firmware.hash}}
        </li>
    <h3>Nodes with firmware installed</h3>
    <ul class="list-group">
    {% for node in firmware.nodes %}
        <li class="list-group-item">
            <a href="{{url_for("web.node.show", id=node.id)}}">{{node.id}}</a>
        </li>
    {% else %}
        <li class="list-group-item"><em>No nodes have this firmware installed.</em></li>
    {% endfor %}
    </ul>

    <h3>Upgrade orders</h3>
    <ul class="list-group">
    {% for upgradeOrder in firmware.upgradeOrders %}
        <li class="list-group-item">
            <strong>Upgrade time:</strong> {{upgradeOrder.upgradeTime}}
            <ul>
                {% for node in upgradeOrder.nodes %}
                <li><a href="{{url_for("web.node.show", id=node.id)}}">{{node.id}}</a></li>
                {% endfor %}
        </li>
    {% else %}
        <li class="list-group-item"><em>This firmware hasn't been associated with any upgrade orders yet.</em></li>
    {% endfor %}
    </ul>
{% endblock %}
