{% extends "layout.html" %}
{% block body %}
    <h2>Firmware '{{firmware.version}}'</h2>
    <div class="well">
        <a class="btn btn-success" href="{{url_for("firmware.install", id=firmware.id)}}">Install</a>
        <a class="btn btn-danger" href="{{url_for("firmware.delete", id=firmware.id)}}">Delete</a>
    </div>
    <ul>
        <li>
            <strong>Id:</strong> 
            {{firmware.id}}
        </li>
        <li>
            <strong>Hash:</strong>
            {{firmware.hash}}
        </li>
    <h3>Nodes with firmware installed</h3>
    <ul class="list-group">
    {% for node in firmware.nodes %}
        <li class="list-group-item">
            <a href="{{url_for("node.show", id=node.id)}}">{{node.id}}</a>
        </li>
    {% else %}
        <li class="list-group-item"><em>No nodes have this firmware installed.</em></li>
    {% endfor %}
    </ul>

    <h3>Upgrade orders</h3>
    <ul class="list-group">
    {% for upgradeOrder in firmware.upgradeOrders %}
        <li class="list-group-item">
            <strong>Upgrade time:</strong> {{upgradeOrder.upgradeTime}}
            <ul>
                {% for node in upgradeOrder.nodes %}
                <li><a href="{{url_for("node.show", id=node.id)}}">{{node.id}}</a></li>
                {% endfor %}
        </li>
    {% else %}
        <li class="list-group-item"><em>This firmware hasn't been associated with any upgrade orders yet.</em></li>
    {% endfor %}
    </ul>
{% endblock %}
