{% extends "layout.html" %}
{% block body %}
    <h1>Command '{{command.command}}'</h1>
    {% if command.experiment %}
        in experiment <a href="{{url_for("experiment.show", id=command.experiment.id)}}">{{command.experiment.name}}</a>
    {% endif %}
    <h2>Results</h2>
    <ul class="list-group">
    {% for execution in executions %}
        <li class="list-group-item">
            Node: {{execution.node.id}}<br /> 
            Result: 
                <ul>
                    <li>
                        <strong>Exit code:</strong>{{execution.exitCode}}
                    </li>
                    <li>
                        <strong>Stdout:</strong><br />
                        {{execution.stdout | nl2br}}
                    </li>
                    <li>
                        <strong>Stderr:</strong><br />
                        {{execution.stderr | nl2br}}
                    </li>
                </ul>
        </li>
    {% else %}
        <li class="list-group-item"><em>No results available at this time.</em></li>
    {% endfor %}
    </ul>

    <h2>Pending executions</h2>
    <ul class="list-group">
    {% for node in pendingNodes %}
        <li class="list-group-item">
            Node: {{node.id}}
        </li>
    {% else %}
        <li class="list-group-item"><em>No pending executions at this time.</em></li>
    {% endfor %}
    </ul>
{% endblock %}
