{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for("command.add") }}" method="post" class="commandAdd">
        <fieldset>
            <legend>Add Command</legend>
            <ul>
                <li>
                    <label for="command">Command:</label>
                    <input type="text" name="command" id="command" size="30" />
                </li>
                <li>
                    Target Nodes:
                    <ul class="nodeList">
                        {% for node in nodes %}
                            <li>
                                <input type="checkbox" name="nodeIds" id="node_{{node.id}}" value="{{ node.id }}" />
                                <label for="node_{{node.id}}">{{node.id}}</label>
                            </li>
                        {% else %}
                            <li>No nodes available.</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="submit" value="Add" />
        </fieldset>
    </form>

    <h2>Admin Commands</h2>
    <ul class="commandList">
    {% for command in commands %}
        <li>
            <a href="{{url_for("command.show", id=command.id)}}">
                {{command.command}}
            </a>
            {{command.executions.count()}}/{{command.nodes.count()}}
        </li>
    {% else %}
        <li><em>No admin commands were issued yet.</em></li>
    {% endfor %}
{% endblock %}
