{% extends "layout.html" %}
{% block body %}
<script src="../static/js/checkall.js"></script>
  <div class="well">
    <form class="form-horizontal" action="{{ url_for("web.command.add") }}" method="post">
        <fieldset>
            <legend>Add Command</legend>
            <div class="form-group">
              <label for="command" class="col-sm-2 control-label">Command:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" name="command" id="command" size="30" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Target Nodes:</label>
	      <div class="col-sm-10">
		      	<div class="checkbox">
				<input type="checkbox" id="checkAll" /><label for="checkAll"><strong>Select All</strong></label>
			</div>
                {% for node in nodes %}
                <div class="checkbox col-sm-4">
                  <input type="checkbox" name="nodeIds" id="node_{{node.id}}" value="{{ node.id }}" />
		              <label for="node_{{node.id}}">{{node.id}} - {{node.testbed}}  - {{node.status.name | capitalize}}</label>
                </div>
                {% else %}
                <p>No nodes available.</p>
                {% endfor %}
              </div>
            </div>
          <input class="btn btn-primary" type="submit" value="Add">
        </fieldset>
    </form>
  </div>

  <h2>Admin Commands</h2>
  <ul class="list-group">
    {% for command in commands %}
      <li class="list-group-item">
        <a href="{{url_for("web.command.show", id=command.id)}}">
          {{command.command}}
        </a>
        {{command.executions.count()}}/{{command.nodes.count()}}
      </li>
    {% else %}
      <li class="list-group-item"><em>No admin commands were issued yet.</em></li>
    {% endfor %}
  <a class="btn btn-danger" href="{{url_for(".delCom")}}">Delete Finished Commands</a
{% endblock %}
