{% extends "layout.html" %}
{% block body %}
  <div class="well">
    <form class="form-horizontal" action="{{ url_for(".add") }}" method="post">
        <fieldset>
            <legend>Add Node</legend>
            <div class="form-group">
              <label for="id" class="col-sm-2 control-label">ID:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control input-sm" name="id" id="id" size="30" />
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Add" />
        </fieldset>
    </form>
  </div>
{% endblock %}
