{% extends "layout.html" %}
{% block body %}
    <h2>Nodes</h2>
    <a class="btn btn-default" href="{{ url_for(".add") }}">Add Node</a>
    <h3>Registered nodes</h3>
    <ul class="list-group">
    {% for node in nodes %}
        <li class="list-group-item">
            <a href="{{ url_for(".show", id=node.id) }}">
		    {{node.id}} - {{ node.testbed}} (<span {% if not node.reachable %}class="unreachable"{% endif%}>{{node.status.name | capitalize}}</span> - {{node.lastSeenStr}} secs. ago {% if session.user=="admin"%} - {% if node.show %} Visible {% else %} Invisible {% endif %}{% endif %}){% if node.gateway %} - GATEWAY {% endif %}
            </a>
        </li>
    {% else %}
        <li><em>No nodes exist</em></li>
    {% endfor %}
    </ul>
{% endblock %}
