{% extends "layout.html" %}
{% block body %}
    <h2>Nodes</h2>
    <a class="btn btn-default" href="{{ url_for("node.add") }}">Add Node</a>
    <h3>Registered nodes</h3>
    <ul class="list-group">
    {% for node in nodes %}
        <li class="list-group-item">
            <a href="{{ url_for("node.show", id=node.id) }}">
               {{node.id}} (<span {% if not node.reachable %}class="unreachable"{% endif%}>{{node.status.name | capitalize}}</span> - {{node.lastSeenStr}} secs. ago)
            </a>
        </li>
    {% else %}
        <li><em>No nodes exist</em></li>
    {% endfor %}
    </ul>
{% endblock %}
