{% extends "layout.html" %}
{% block body %}
    <h2>Node '{{node.id}}'</h2>
    {% if session.user=="admin" %}    
    <div class="well">
	<a class="btn btn-danger" href="{{url_for("node.remove", id=node.id)}}">Remove</a>
      	{% if node.show %}
      		<a class="btn btn-default" href="{{url_for("node.hide", id=node.id)}}">Hide from User</a>
      	{% else %}
      		<a class="btn btn-default" href="{{url_for("node.unhide", id=node.id)}}">Show to User</a>
      	{% endif  %}
    </div>
    {% endif %}
    <ul>
        <li>
            <strong>Model:</strong> {{node.model}}
        </li>
        <li>
            <strong>Version:</strong> 
            {% if node.installedFirmware %}
                {{node.installedFirmware.version}}
            {% else %}
                Unknown
            {% endif %}
        </li>
        <li>
            <strong>Last contact:</strong> {{node.lastContact}}
        </li>
        <li>
            <strong>Status:</strong> <span {% if not node.reachable %}class="unreachable"{% endif%}>{{node.status.name | capitalize}}</span> - {{node.lastSeenStr}} secs. ago
        </li>
        <li>
            <strong>Current experiment:</strong>
            {% if node.activeExperiment %}
                <a href="{{url_for("experiment.show", id=node.activeExperiment.id)}}">
                    {{node.activeExperiment.name}}
                </a>
            {% else %}
                None
            {% endif %}
        </li>
        <li>
            <strong>Previous experiments:</strong>
            <ul>
                {% for experiment in node.experiments %}
                    {% if experiment != node.activeExperiment %}
                        <li>
                            <a href="{{url_for("experiment.show", id=experiment.id)}}">
                                {{experiment.name}}
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>No previous experiments.</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
