{% extends "layout.html" %}
{% block body %}
    <h2>Node '{{node.id}}'</h2>
    {% if session.user=="admin" %}    
    <div class="well">
	<a class="btn btn-danger" href="{{url_for(".remove", id=node.id)}}">Remove</a>
      	{% if node.show %}
      		<a class="btn btn-default" href="{{url_for(".hide", id=node.id)}}">Hide from User</a>
      	{% else %}
      		<a class="btn btn-default" href="{{url_for(".unhide", id=node.id)}}">Show to User</a>
      	{% endif  %}
    </div>
    {% endif %}
    <ul>
        <li>
            <strong>Model:</strong> {{node.model}}
        </li>
        <li>
            <strong>Version:</strong> 
            {% if node.installedFirmware %}
                {{node.installedFirmware.version}}
            {% else %}
                Unknown
            {% endif %}
        </li>
        <li>
            <strong>Last contact:</strong> {{node.lastContact}}
        </li>
        <li>
            <strong>Status:</strong> <span {% if not node.reachable %}class="unreachable"{% endif%}>{{node.status.name | capitalize}}</span> - {{node.lastSeenStr}} secs. ago
        </li>
        <li>
            <strong>Current experiment:</strong>
            {% if node.activeExperiment %}
                <a href="{{url_for("web.experiment.show", id=node.activeExperiment.id)}}">
                    {{node.activeExperiment.name}}
                </a>
            {% else %}
                None
            {% endif %}
        </li>
        <li>
            <strong>Previous experiments:</strong>
            <ul>
                {% for experiment in node.experiments %}
                    {% if experiment != node.activeExperiment %}
                        <li>
                            <a href="{{url_for("web.experiment.show", id=experiment.id)}}">
                                {{experiment.name}}
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>No previous experiments.</li>
                {% endfor %}
            </ul>
        </li>
	{% if node.description %}
	<li>
            <strong>Description:</strong> {{node.description}}
	</li>
</ul>
	{% endif%}
	{% if session.user=="admin" %}
</ul>
	 <div class="well">
		 <form class="form-horizontal" action="{{ url_for(".description", id=node.id) }}" method="post">
			 <fieldset>
				 <legend>Add Description</legend>
				 <div class="form-group">
					 <label for="description" class="col-sm-2 control-label">Description:</label>
					 <div class="col-sm-10">
						 <input type="text" class="form-control input-sm" name="description" id="description" size="140" />
					 </div>
				 </div>
				 <input class="btn btn-primary" type="submit" value="Add">
			 </fieldset>
		 </form>
	 </div>
	 {% endif %}

	   
    </ul>
{% endblock %}
