{% extends '__autoindex__/autoindex.html' %}

{% block meta %}
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}"  media="screen">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap-theme.min.css") }}"  media="screen">
  <style>
    body {
      padding-top: 20px;
    }
    .main {
      padding: 40px 15px;
    }
    .unreachable {
      text-decoration: line-through;
    }
    a:link {
	    color: rgb(66, 139, 202);
	    text-decoration: none;
    }
    a:hover, a:focus {
    		color: rgb(42, 100, 150);
    		text-decoration: underline;
    }
    .logout:visited {
    		color: rgb(66,139,202);
    }
    .logout:hover {
    		color: rgb(42, 100, 150);

    }
    a:visited{
	color: rgb(51,51,51);
    }
  </style>
{% endblock %}

{% block header %}
	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Wibed Server</a>
      </div>
      <div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
          {% if session.user!="admin" %}
          	<li><a href="{{url_for("web.experiment.list")}}">Experiments</a></li>
		<li><a href="{{url_for("web.results.autoindex")}}">Results</a></li>
          	<li><a href="{{url_for("web.node.list")}}">Nodes</a></li>
          	<li><a href="{{url_for("web.admin.index")}}">Admin</a></li>
		<li><a href="{{url_for("web.error.autoindex")}}">Errors</a></li>
		<li><a href="{{url_for("web.topology.index")}}">Topology</a></li>
		<li><a href="{{url_for("web.overlays.autoindex")}}">Overlays</a></li>
		<li><a href="{{url_for("web.repo.autoindex")}}">Repo</a></li>
	  {% elif session.user=="admin" %}
		<li><a href="{{url_for("web.node.list")}}">Nodes</a></li>
          	<li><a href="{{url_for("web.admin.index")}}">Admin</a></li>
		<li><a href="{{url_for("web.error.autoindex")}}">Errors</a></li>
		<li><a href="{{url_for("web.topology.index")}}">Topology</a></li>
	  	<li><a href="{{url_for("web.firmware.list")}}">Firmwares</a></li>
          	<li><a href="{{url_for("web.dbdebug.list")}}">dbDebug</a></li>
		<li><a href="{{url_for("web.overlays.autoindex")}}">Overlays</a></li>
		<li><a href="{{url_for("web.repo.autoindex")}}">Repo</a></li>
	  {% endif  %}
	  {% if session.user %}
		<li style="color:#999">  User: {{ session.user }}    </li>
		<span class="navbar-btn"><li><a class="logout" href="{{url_for("logout")}}">Log Out</a></li>
	  {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li><a href="http://wiki.confine-project.eu/wibed:start"><span class="glyphicon glyphicon-book"></span>Documentation</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="main">
      <div class="row">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      </div>

      <script src="{{ url_for("static", filename="js/jquery-1.10.2.min.js") }}"></script>
{% endblock %}

{% block footer %}
  {{ super() }}
  </div>
  </div>

  <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>

{% endblock %}
