<!doctype html>
<html>
<head>
  <title>Wibed Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}"  media="screen">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap-theme.min.css") }}"  media="screen">
  <style>
    body {
      padding-top: 20px;
    }
    .main {
      padding: 40px 15px;
    }
    .unreachable {
      text-decoration: line-through;
    }
  </style>

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Wibed Server</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://wiki.confine-project.eu/wibed:start"><span class="glyphicon glyphicon-book"></span>Documentation</a></li>
        </ul>
      </div>
    </div>

  <div class="container">
    <div class="main">
      <div class="row">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      </div>

      <div class="row">
      {% for message in form.password.errors %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
      </div>

      <div class="row">
      {% for message in form.name.errors %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
      </div>

      <h2>Login</h2>
        <form action="{{ url_for('login') }}" method=post>
		{{ form.hidden_tag() }}

		{{ form.name.label }}:</br>
		{{ form.name }}
		</br>
		{{ form.password.label }}:</br>
		{{ form.password }}
		</br>
		{{ form.submit}}
	</form>

    </div>

  </div>

  <script src="{{ url_for("static", filename="js/jquery-1.10.2.min.js") }}"></script>
  <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>


</body>
</html>
